<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo | App</title>
    <script src="https://kit.fontawesome.com/1799259c11.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>
<body>
    <div id="main-container">
        <div id="heading-container">
            <h1 id="heading">TODO App</h1>
        </div>
        <div id="form-input">
            <form action="/create-todo" method="post">
                <div id="description-section">
                    <label for="description">DESCRIPTION</label>
                    <input name="description" type="text" id="description" required placeholder="What do you need to do?">
                </div>
                <div id="category-dueDate">
                    <div id="category-section">
                        <label for="category">CATEGORY</label> 
                        <select name="category" id="category">
                            <option value="">Choose a category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="School">School</option>
                            <option value="Cleaning">Cleaning</option>
                            <option value="Others">Others</option>
                        </select> 
                    </div>
                    <div id="dueDate">
                        <label for="date">DUE DATE</label>
                        <input name="dueDate" type="text" required id="date" placeholder="dd/mm/yyyy">
                    </div>
                </div>
                <div id="add-delete">
                    <button id="add-btn" type="submit">
                        <i class="fa-solid fa-plus"></i>
                          ADD TASK
                    </button>
                    <a href="/delete-todo">
                        <button id="del-btn">
                            <i class="fa-solid fa-trash-can"></i>
                            DELETE TASKS
                        </button>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div id="todo-container">
        <% for(let todo of todos){%> 
            <div class="todo">
             <div class="task-container">
                 <input data-id="<%= todo._id %>" data-toggle="<%= todo.toggle %>" type="checkbox" class="check" >
                 <div class="task">
                     <p id="<%= todo._id %>"><%= todo.description  %> </p>
                     <div class="task-time">
                         <i class="fa-solid fa-calendar-days"></i>
                         <p><span><%= todo.dueDate.toDateString().slice(4,7)  %> <%= todo.dueDate.getDate()  %>, <%= todo.dueDate.getFullYear()  %> </span>  </p>
                     </div>
                 </div>
             </div>
             <% if(todo.category !== ""){ %> 
                 <button class="category-btn"><%= todo.category  %> </button>
             <%} %> 
            </div>
     <%} %> 
    </div>

    
    <script src="/js/home.js"></script>
</body>
</html>